body {
    background-color: #192231;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#heading {
    background-color: #494E6B;
    border-radius: 25px;
    grid-column: span 4;
    text-align: center;
    align-items: center;
    color: #E0E1DD;
}

#menu {
    background-color: #985E6D;
    border-radius: 25px;
    grid-column: span 1;
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #E0E1DD;
}

#content {
    background-color: #E0E1DD;
    border-radius: 25px;
    grid-column: span 3;
    grid-row: span 3;
    text-align: center;
    color: #0D1B2A;
}