body {
    background-color: #1A1A1D;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#heading {
    background-color: #4E4E50;
    border: 5px solid black;
    border-radius: 25px;
    grid-column: span 4;
    text-align: center;
    align-items: center;
    color: #1A1A1D;
}

#menu {
    background-color: #6F2232;
    border: 5px solid black;
    border-radius: 25px;
    grid-column: span 1;
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #C3073F;
}

#content {
    background-color: #C3073F;
    border-radius: 25px;
    border: 5px solid black;
    grid-column: span 3;
    grid-row: span 3;
    text-align: center;
    color: #0D1B2A;
}